$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$alt-photo: "\e921";
$alt-cinema: "\e922";
$alt-sun: "\e912";
$alt-chat: "\e91e";
$alt-cat: "\e903";
$alt-japan: "\e904";
$alt-web-development: "\e905";
$alt-losange: "\e906";
$alt-download: "\e907";
$alt-logo: "\e908";
$alt-computer: "\e909";
$alt-coffee: "\e90a";
$alt-settings: "\e90b";
$alt-game-controller: "\e90c";
$alt-mail: "\e910";
$alt-discord-path1: "\e90d";
$alt-discord-path2: "\e90e";
$alt-discord-path3: "\e90f";
$alt-github-path1: "\e911";
$alt-github-path2: "\e913";
$alt-github-path3: "\e914";
$alt-github-path4: "\e915";
$alt-github-path5: "\e916";
$alt-github-path6: "\e917";
$alt-github-path7: "\e91f";
$alt-github-path8: "\e920";
$alt-linkedin-path1: "\e918";
$alt-linkedin-path2: "\e919";
$alt-twitter-path1: "\e91a";
$alt-twitter-path2: "\e91b";
$alt-cross: "\e91c";
$alt-user: "\e91d";
$alt-moon: "\e900";
$alt-chevron-left: "\e901";
$alt-chevron-right: "\e902";

